<div class="container">
  <h1>HI I AM YOUR DASHBOARD PAGE</h1>

  
  <%# <%= link_to “Accept”, booking_path(booking, status: true), data: {turbo_method: :patch}%>
  <%# <%= link_to “Decline”, booking_path(booking, status: false), data: {turbo_method: :patch}%>
</div>
