<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.boatandco.nl/upload/images/best-cycling-routes-around-amsterdam-tasty-food-stops-included-1250x500_1.jpg);">
  <div class="container">
    <h1><strong>RideMyBike</strong></h1>
    <p>Bike like a real local in Amsterdam</p>
    <%= link_to "Book now", "#", class: "btn btn-flat" %>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="card-trip">
      <img src="https://images.peerby.com/unsafe/800x/smart/https://peerby.s3.amazonaws.com/uploads/listings/724231cd-b126-4ad6-a06b-fe937e826b87.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Bakfiets</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">€10 per dag</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
