<h1>Bikes#index</h1>
<p>Find me in app/views/bikes/index.html.erb</p>

<h1>All Bikes</h1>
  <ol>
    <% @bikes.each do |bike| %>
      <li>Your "<%= bike.name %>" is parked at: <%= bike.location%> <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %></li>
    <% end %>
  </ol>
