.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ffffff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #A44A3F;
  color: white;
}

.btn-show {
  background: #A44A3F;
  color: white;
  width: 200px;
  justify-content: center;
  border-radius: 4px;
}

.btn-show-back {
  background: white;
  color: black;
}

.btn-card {
  margin-bottom: 8px;
}
