.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 6px;
  background: #ffffff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #BB342F;
  color: white;
}

.btn-show {
  background: #BB342F;
  color: white;
  width: 60%;
  justify-content: center;
  border-radius: 6px;
}

.btn-show-back {
  background: white;
  color: black;
}

.btn-card {
  margin-bottom: 8px;
}

.btn-booking {
  background: #BB342F;
  color: white;
  margin-top: 16px;
  margin-bottom: 8px;
}
