.card {
  border: none;
}

.card-bike {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
}

.card-bike img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.card-bike h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-bike h3 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-bike p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-bike .card-bike-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-bike-infos .card-bike-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.bike_link {
  text-decoration: none;
  color: black
}

.bike_link:hover {
  text-decoration: none;
  color: black
}

// # Card styling for Bikes-indexpage below
// #########################################################################
.card-bike-index {
  overflow: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  // display: block;
  height: auto;
  min-height: 100% !important;
}

.card-bike-list {
  padding-top: 16px;
  padding-bottom: 16px;
}

.card-header {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-bike-index img {
  height: 250px;
  width: 100%;
  opacity: 0.9;
}

.card-footer {
  text-align: center;
  align-content: flex-end;
}

.card-bike-index h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
