.cards {
  border: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
