.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: bottom;
  font-family: "Open Sans", sans-serif;
}

#map {
  height: 200vh;
  width: 40%;
  position: sticky;
  top: 0;
  margin-bottom: 16px
}
